*{
    
}

.nav-container{
    margin-top: -50px;
    padding-top: 20px;
    margin-bottom: -50px;
    padding-bottom: 0px;
    color: white;
}


.nav{
    color: white;
    padding-top: 10px;
    border: green;
}

.nav-link{
    color: white;
    margin-right: 15px;
    margin-top: 40px;
    color: white;
}
